<div class="comment">
  <%= link_to user_path(message.author), class: 'avatar' do %>
    <%= image_tag message.author.avatar.url, class: 'avatar-message-size', alt: message.author.full_name %>
  <% end %>
  <div class="content">
    <%= link_to message.author.full_name, user_path(message.author), class: 'author' %>
    <div class="metadata">
      <%= timeago_tag message.created_at, :nojs => true, :limit => 1.hours.ago,
      title: proc { |time, options| I18n.l time, :format => "%H:%M:%S" }, class: 'date' %>  
    </div>
    <div class="text"><%= message.body %></div>
  </div>
</div>
