<div class="ui pilled blue segment">
  <h2 class="ui header">
    <i class="inverted circular blue chat icon"></i>
    <%= t('conversations.active') %>
  </h2>
  <div class="panel-body">
    <div id="conversation" class="conversation">
      <div id="messages" class="ui comments">
        <% @messages.each do |message| %>
          <%= render partial: message %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_for(:message, remote: true, html: { class: "ui reply form message-send" }) do |f| %>
    <%= f.text_area :body, placeholder: t('messages.message'), class: 'dialog-box field', id: 'dialogBox' %>
    <%= content_tag :button, type: :submit, class: "ui positive labeled icon button" do %>
       <i class="mail icon"></i> <%= t('messages.send') %>
    <% end %>
  <% end %>
</div>
