<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('conversations.active') %></h3>
  </div>
  <div class="panel-body">
    <div class="conversation">
      <div class="list-group">
        <% @messages.each do |message| %>
          <%= render partial: message %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <%= form_for(:message, remote: true, html: { class: "message-send" }) do |f| %>
      <%= f.text_area :body, placeholder: t('messages.message'), class: 'message-contents dialog-box' %>
      <%= f.submit class: "btn btn-success", id: "message-send-btn", value: t('messages.send') %>
    <% end %>
  </div>
</div>
