<div id="addDocForm" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t('documents.adding_doc') %>
  </div>
  <div class="content">
    <%= form_for(:documents, :html => { :class => 'ui fluid form segment', role: 'form' }) do |f| %>
      <div class="field">
        <%= label_tag :new_doc_title, t('documents.enter_file_title') %>
        <%= f.text_field :new_doc_title, :placeholder => t('documents.title') + '...', id: 'newDocTitle' %>
      </div>
      <%= f.hidden_field :doctype, value: 'test' %>
      <div class="field">
        <%= label_tag :new_file, "#{t('documents.file')} (#{t('util.optional')})" %>
        <%= f.file_field :new_file, id: 'newDocFile' %>
      </div>
      <%= f.submit t('util.save'), :class => 'ui positive button' %>
    <% end %>
  </div>
</div>