<div id="addFolderForm" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t('documents.adding_folder') %>
  </div>
  <div class="content">
    <%= form_for(:documents, :html => { :class => "ui fluid form segment", role: "form" }) do |f| %>
      <%= f.hidden_field :doctype, value: 'folder' %>
      <div class="field">
        <%= label_tag :new_doc_title, t('documents.enter_folder_title') %>
        <%= f.text_field :new_doc_title, :placeholder => t('documents.title') + '...' %>
      </div>
      <%= f.submit t('util.save'), :class => "ui positive button" %>
    <% end %>
  </div>
</div>