<div class="calendar_container col-xs-6">
  <h2 id="month">
    <%= link_to date: @date.prev_month do%>
      <div class="glyphicon glyphicon-circle-arrow-left" style="float: left"></div>
    <% end %>
    <div class="label label-primary"><%= l(@date, format: "%B %Y")%></div>
    <%= link_to date: @date.next_month do%>
      <div class="glyphicon glyphicon-circle-arrow-right" style="float: right"></div>
    <% end %>
  </h2>
  <%= calendar @date do |date| %>
    <%= link_to day_path(date: date), class: "cell ui segment", id:date,remote: true do %>
       <!--  <div class="day">
          <i class="icon checkmark"></i>
         <%= date.day %>
        </div> -->
       
    <% if can? :crud, Task %>
      <% @tasks_by_date[date] ||= [] %>
      <% @events_by_date[date] ||= [] %>
      <% if @events_by_date[date].length>0 || @tasks_by_date[date].length>0 %>
        <div class="ui right red corner label">
          <i class="checkmark icon"> </i>
        </div>
      <% end %>
    <% end %>
    <%= date.day %>
           <!-- <ul> -->

           <!-- <% @events_by_date[date].each do |event| %>
              <li><div class="glyphicon glyphicon-list-alt" style=
                <%= event.author_id == current_user.id ? "color:green;" : "color:red;" %>
              ></div></li>
           <% end %>
           </ul>  -->
       <!-- </div>  -->
    <% end %> 
  <% end %>
</div>

  

<div class="col-xs-6">
<div id="day">
    <%= render partial: 'calendar/day_header', locals: {date: @date} %>
  </div>
  <div class="ui segment">
  <% if can? :crud, Task %>
  <div class="ui ribbon label">Tasks</div>
    <div class="task_list"></div>
  <% end %>
  <div class="ui ribbon label">Events</div>
  <div class="event_list"></div>
  </div>
</div>
<% content_for :javascript do %>
  <% javascript_tag do %>
    $().ready(function(){
      $("#<%= @date %>").click();
    });
  <% end %>
<% end %>