#addDocModal.ui.modal
  %i.close.icon
  .header
    = modal_title
  #content.content
    = form_for :document, method: :get, remote: true, html: { class: 'ui fluid form segment' } do |f|
      .field
        = f.label t('documents.title')
        = f.text_field :title, id: 'title'
      .field
        = f.label t('documents.description')
        = f.text_field :title, id: 'description'
      = f.submit class: "ui positive button", value: t('documents.pin')
      