#addDocModal.ui.modal
  %i.close.icon
  .header
    = modal_title
  #content.content
    = form_for :document, method: :get, remote: true, html: { class: 'ui fluid form segment', id: 'taskDoc' } do |f|
      .field
        = f.label t('documents.title')
        = f.text_field :title, id: 'title'
      .field
        = f.label t('documents.description')
        = f.text_field :title, id: 'description'

      = f.submit class: "ui positive button", value: t('documents.add_doc')
      = button_tag t('documents.from_pc'), class: "ui teal button", id: 'docFromPC'
      = file_field :document, :original_file, class: 'hidden', id: 'docFromPCInput'