<%= form_tag tasks_path, :method => 'get', remote: true, id: 'extendSearch' do %>
  <%= hidden_field_tag :search, "true" %>
  <div class="col-md-3">
    <%= t('tasks.author') %>:
    <div>
      <%= select_tag :author, options_for_select(
        [[t('util.I'), current_user.id], 
        [t('util.not_I'), tasks_not_authored_by_me]].concat(all_authors_of_my_tasks)), 
        { class: "chosen-select", multiple: true, include_blank: true } %>
      <span class="searchclear glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="col-md-3">
    <%= t('tasks.executors') %>:
    <div>
      <%= select_tag :executor, options_for_select(
        [[t('util.I'), current_user.id], 
        [t('util.not_I'), tasks_not_executed_by_me]].concat(all_executors)),
        { class: "chosen-select", multiple: true, include_blank: true } %>
      <span class="searchclear glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="col-md-3">
    <%= t('tasks.name') %>:
    <div>
      <%= text_field_tag :name, nil, class: "form-control" %>
      <span class="searchclear glyphicon glyphicon-remove clear-name"></span>
    </div>
  </div>
  <div class="col-md-3">
    <%= t('tasks.status') %>:
    <div>
      <%= select_tag :status, options_for_select(translate_statuses(Task::STATUS)), { class: "chosen-select", multiple: true, include_blank: true } %>
      <span class="searchclear glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="col-md-6">
    <%= t('tasks.end_date') %>:
    <div class='input-group'>
      <span class="input-group-addon">
        <%= t('util.from') %>
      </span>
      <div>
        <%= text_field_tag :exec_start_date, nil, class: "form-control date", id: "datetimepicker1" %>
        <span class="searchclear glyphicon glyphicon-remove clear-date first"></span>
      </div>
      <span class="input-group-addon">
        <%= t('util.to') %>
      </span>
      <div>
        <%= text_field_tag :exec_end_date, nil, class: "form-control date", id: "datetimepicker2" %>
        <span class="searchclear glyphicon glyphicon-remove clear-date"></span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= t('tasks.creation_date') %>:
    <div class='input-group'>
      <span class="input-group-addon">
        <%= t('util.from') %>
      </span>
      <div>
        <%= text_field_tag :creation_start_date, nil, class: "form-control date", id: "datetimepicker3" %>
        <span class="searchclear glyphicon glyphicon-remove clear-date first"></span>
      </div>
      <span class="input-group-addon">
        <%= t('util.to') %>
      </span>
      <div>
        <%= text_field_tag :creation_end_date, nil, class: "form-control date", id: "datetimepicker4" %>
        <span class="searchclear glyphicon glyphicon-remove clear-date"></span>
      </div>
    </div>
  </div>
<% end %>
