<%= form_tag tasks_path, :method => 'get', remote: true, id: 'extendSearch', class: 'ui fluid form segment' do %>
  <%= hidden_field_tag :search, "true" %>
  <div class="four fields">
    <div class="field">
      <%= t('tasks.author') %>:
      <%= select_tag :author, options_for_select(
        [[t('util.I'), current_user.id],
        [t('util.not_I'), tasks_not_authored_by_me]].concat(all_authors_of_my_tasks)),
        { class: "ui fluid search dropdown", multiple: true } %>
    </div>
    <div class="field">
      <%= t('tasks.executors') %>:
      <%= select_tag :executor, options_for_select(
        [[t('util.I'), current_user.id],
        [t('util.not_I'), tasks_not_executed_by_me]].concat(all_executors)),
        { class: "ui fluid search dropdown", multiple: true } %>
    </div>
    <div class="field">
      <%= t('tasks.name') %>:
      <%= text_field_tag :name, nil, class: "form-control" %>
    </div>
    <div class="field">
      <%= t('tasks.status') %>:
      <%= select_tag :status, options_for_select(Task::STATUS.map { |s| [translate_status(s), s] }), { class: "ui fluid search dropdown", multiple: true } %>
    </div>
  </div>
  <div class="four fields">
    <div class="field">
      <%= t('tasks.executed_from') %>:
      <%= text_field_tag :exec_start_date, nil, id: "startDate" %>
    </div>
    <div class="field">
      <%= t('tasks.executed_to') %>:
      <%= text_field_tag :exec_end_date, nil, id: "endDate" %>
    </div>
    <div class="field">
      <%= t('tasks.created_from') %>:
      <%= text_field_tag :creation_start_date, nil, id: "creationStartDate" %>
    </div>
    <div class="field">
      <%= t('tasks.created_to') %>:
      <%= text_field_tag :creation_end_date, nil, id: "creationEndDate" %>
    </div>
  </div>
  <div id="searchBtn" class="ui blue labeled icon submit button">
    <i class="search icon"></i>
    <%= t('util.search') %>
  </div>
<% end %>
