<div class="items">
  <%= f.nested_fields_for :checklists do |f| %>
    <div class='ui mini left icon action input subtask'>
      <span class="icon"> <%= f.check_box :done %> </span>
      <%= f.text_field :name %>
    	<span class="ui mini button remove"><i class="icon remove"></i></span>
    </div>
    
    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>
  <% end %>
</div>

<a class="ui basic fluid button add">
  <i class='icon add'></i> 
  <%= t('util.add_task') %>
</a>
