<% if @task.checklists.reject { |c| c.empty? }.any? %>
  <dt class="ui purple ribbon label"><%= t('tasks.check_list') %></dt>
  <% if belongs_to?(@task) %>
    <%= render partial: 'checklists', locals: { dis: false } %>
  <% else %>
    <%= render partial: 'checklists', locals: { dis: true } %>
  <% end %>
  <div class="ui blue active striped labeled progress">
    <div class="bar" style="width: <%= checklist_percentage(@task) %>%;">
      <span class="ui top right red label"><%= checklist_percentage(@task).round %>%</span>
    </div>
  </div>
<% end %>
