<% if @task.checklists.reject { |c| c.empty? }.any? %>
  <dl class="dl-horizontal break-words">
    <dt><%= t('tasks.check_list') %></dt>
    <dd>
      <% if belongs_to?(@task) %>
        <%= render partial: 'checklists', locals: { dis: false } %>
      <% else %>
        <%= render partial: 'checklists', locals: { dis: true } %>
      <% end %>
    </dd>
  </dl>
  <dl class="dl-horizontal progress-bar-wrap no-user-select">
    <dt>&nbsp;</dt>
    <dd>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= checklist_percentage(@task) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= checklist_percentage(@task) %>%;">
          <%= checklist_percentage(@task) %>%
        </div>
      </div>
    </dd>
  </dl>
<% end %>
