<% if not @tasks.empty? %>
  <div id="taskSearch" class="ui fluid accordion no-user-select">
    <div class="title">
      <i class="dropdown icon"></i>
      <%= t('util.extended_search') %>
    </div>
    <div class="content">
      <%= render 'extended_search' %>
    </div>
  </div>
<% end %>

<% if not @tasks.empty? %>
  <table id="tasks" class="ui table segment">
    <%= render partial: 'search_header', locals: { tasks: @tasks } %>
    <%= render partial: 'search_results', locals: { tasks: @tasks } %>
  </table>
<% else %>
  <p class="ui message info no-conversations"><%= t('tasks.no_tasks') %></p>
  <% if can? :create, Task %>
    <%= link_to t('tasks.create_task'), new_task_path, class: 'ui positive button' %>
  <% end %>
<% end %>