<div>
	<b>ID</b> 
	<%= @task.id %>
</div>
<div>
	<b><%= t('tasks.name') %></b> 
	<%= @task.name %>
</div>
<div>
	<b><%= t('tasks.description') %></b> 
	<%= @task.description %>
</div>
<div>
	<b><%= t('tasks.end_date') %></b> 
	<%= @task.end_date %>
</div>
<div>
	<b><%= t('tasks.status') %></b> 
	<%= @task.status %>
</div>
<div>
	<b><%= t('tasks.check_list') %></b> 
	<%= @task.check_list %>
</div>
