<div class="ui two column grid task">
  <div class="column no-margins">
    <div class="ui blue segment">
      <% if @task.name.present? %>
        <h2 class="ui header"><%= @task.name %></h2>
      <% end %>
      <% if @task.description.present? %>
        <dt class="ui purple ribbon label"><%= t('tasks.description') %></dt>
        <p><%= @task.description %></p>
      <% end %>
      <% if @task.end_date.present? %>
        <dt class="ui purple ribbon label"><%= t('tasks.end_date') %></dt>
        <p><%= l(@task.end_date, format: :short) %></p>
      <% end %>
      <% if @task.status.present? %>
        <dt class="ui purple ribbon label"><%= t('tasks.status') %></dt>
        <p class='<%= status_class(@task.status) %>'><i class="<%= icon_status_class(@task.status) %>"></i><%= translate_status(@task.status) %></p>
      <% end %>
      <% if @task.executors.any? %>
        <dt class="ui purple ribbon label"><%= t('tasks.executors') %></dt>
        <div class="ui mini images card-avatars">
          <% @task.executors.each do |exec| %>
            <%= link_to image_tag(exec.avatar.url("small"), class: 'ui image', 
              title: exec.full_name), user_path(exec.id) %>
          <% end %>
        </div>
      <% end %>
      <%= render partial: 'sub_tasks' %>
      <% if @task.documents.any? %>
        <dt class="ui purple ribbon label"><%= t('documents.attached') %></dt>
        <p>
          <% @task.documents.each do |doc| %>
            <%= render partial: 'documents_pin/pinned_doc', locals: {doc: doc, show: true} %>
          <% end %>
        </p>
      <% end %>
      <div class="ui buttons no-user-select">
        <%= link_to t('util.back'), tasks_path, :class => "ui button" %>
        <div class="or"></div>
        <% if @task.author == current_user %>
          <%= link_to t('util.edit'), edit_task_path(@task), :class => "ui teal button" %>
        <% else %>
          <%= button_tag t('util.confirm'), :class => "btn btn-success", :id => 'submitSubTasks' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='one column no-margins'>
    <%= comments_for @task, limit: 100000000 %>
  </div>
</div>

<script>
  document.addEventListener('readystatechange', function(){
    if (document.readyState == "interactive") {
      var channel = dispatcher.subscribe("Task" + "<%= @task.id %>");
      channel.bind('new_comment', addComment);
      channel.bind('uncomment', removeComment);
    }
  }, false)
</script>