<div class="ui modal" id="conversationOpen">
  <i class="close icon"></i>
  <div class="header"><%= modal_title %></div>
  <div id="content" class="content">
    <%= form_for conversation, method: :post, html: { class: 'ui fluid form segment' } do |f| %>
      <div class="field">
        <%= f.label t('messages.subject') %>
        <%= f.text_field :subject %>
      </div>
      <div class="field">
        <%= f.label t('messages.receivers') %>
        <%= select_tag :receiver_ids, options_for_select(User.all.reject { |u| u == current_user }.map { |u| [u.full_name, u.id] }, receiver_ids), { class: "ui fluid search dropdown", multiple: true } %>
      </div>
      <div class="field">
        <%= f.label t('messages.message') %>
        <%= text_area "message", :body %>
      </div>
      <%= f.submit class: "ui positive button", value: t('messages.send') %>
    <% end %>
  </div>
</div>