= form_for(@news_post, :html => { :class => 'form-horizontal', role: 'form' }) do |f|
  - if @news_post.errors.any?
    .news-errors-block{ class: 'news-errors-block' }
      %h2= t('activerecord.errors.template.header', count: @news_post.errors.count)
      %ul
        - @news_post.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    .form-group
      = f.label :title, :class=>'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :title, :placeholder => t('news.ph_title'), :class => 'form-control'
    .form-group
      = f.label :content, :class=>'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :content, :placeholder => t('news.ph_content'), :class => 'form-control no-resize', :id => 'news_post_content'
    .form-group
      = f.label :tags, :class=>'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :tags, :placeholder => t('news.ph_tags'), :class => 'form-control'
    .form-group
      = label_tag :icon, t('activerecord.attributes.news_post.icon'), :class=>'col-sm-2 control-label'
      .col-sm-10
        = f.file_field :icon
        = image_tag @news_post.icon.url('medium'), class: 'c-user-medium-avatar'
        - unless @news_post.new_record?
          = link_to t('util.destroy'), icon_news_post_path(@news_post), :method => :delete, :class => 'btn btn-danger'
    = f.hidden_field :creator_id, value: current_user.id
    .form-group
      = f.label :for_roles, :class=>'col-sm-2 control-label'
      .col-sm-5
        = f.select :for_roles, options_for_select(post_roles, parse_post_roles(@news_post.for_roles)), {}, { class: 'form-control' }
      .col-sm-5
        = select_tag :for_groups, options_for_select(Group.all.map { |g| [g.name, g.id] }), { class: 'chosen-select', multiple: true, include_blank: true, data: { placeholder: t('activerecord.models.group') + '...' } }
  .panel-footer.text-right
    = link_to t('util.back'), :back, :class => 'btn btn-default'
    = button_tag type: 'submit', :class => 'btn btn-success' do
      %span{ class: 'glyphicon glyphicon-bullhorn' }
      = t('news.publish')
