.item{ data: { link: news_post_path(news_post) }}
  .image
    =image_tag news_post.icon.url('large')
  .content
    .name
      = news_post.title
    - if news_post.tags.present?
      .tags
        %b= t('activerecord.attributes.news_post.tags') + ':'
        - news_post.tags.split(',').each do |tag|
          = link_to tag, tag_news_posts_path(tag)
    %p.description
      = raw HTML_Truncator.truncate(news_post.content, 16)
    .actions
      - if current_user.id == news_post.creator_id or current_user.has_role?('admin')
        = link_to t('util.edit'), edit_news_post_path(news_post), :class => 'delete'
        = link_to t('util.destroy'), '', data: { :path => news_post_path(news_post) }, id: 'btn_remove_news_post', class: 'delete'