<div class="event">
  <div class="label">
    <% if a.owner %>
      <%= link_to image_tag((author = a.owner).avatar.url("small"), class: 'ui circular image',
        title: author.full_name), user_path(author.id) %>
    <% end %>
  </div>
  <div class="content">
    <div class="date">
      <%= timeago_tag a.created_at, :nojs => true, :limit => 2.hours.ago,
    title: proc { |time, options| I18n.l time, :format => "%H:%M:%S" } %>
    </div>
    <div class="summary">
      <% if a.owner %>
        <%= link_to a.owner.full_name, a.owner %>
        <%= t('activity.' << a.key) %>
        <% if !a.key.include?('destroy') %>
          <% text = a.trackable_type == 'Comment' ? trackable_commentable_type(a) : trackable_type(a) %>
          <% item = a.trackable_type == 'Comment' ? trackable_commentable(a) : trackable(a) %>
          <%= link_to text, item %>
        <% end %>
      <% end %>
    </div>
    <div class="extra text">
      <%= activity_information(a) %>
    </div>
  </div>
</div>


