<div class="panel-heading">
  <h3 class="panel-title"><%= t('users.my_page') %></h3>
</div>
<div class="panel-body">
  <div class="pull-left">
    <div class="thumbnail">
      <%= image_tag @user.avatar.url("large"), class: 'c-user-large-avatar' %>
    </div>
    <% if @user != current_user %>
      <div id="message-send">
        <a class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> <%= t('messages.send') %></a>
      </div>
    <% end %>
  </div>
  <div class="pull-left">
    <% if @user.full_name.present? %>
      <h3 class="text-center"><%=  @user.full_name %></h3>
    <% end %>
    <dl class="dl-horizontal">
      <dt><%=  t('activerecord.attributes.user.login') %></dt>
      <dd><%=  @user.login %></dd>
      <dt><%=  t('activerecord.attributes.user.role') %></dt>
      <dd><%=  @user.role %></dd>
      <dt><%=  t('activerecord.attributes.user.full_name') %></dt>
      <dd><%=  @user.full_name %></dd>
      <dt><%= t('activerecord.attributes.user.email')  %></dt>
      <dd><%=  @user.email %></dd>
      <dt><%= t('activerecord.attributes.user.position')  %></dt>
      <dd><%=  @user.position %></dd>
    </dl>
  </div>
</div>

<div id="message" class="modal fade panel-primary" style="display: none;">
  <div class="panel-heading">
    <h4 class="modal-title"><%= t('messages.new') %></h4>
  </div>
  <div class="modal-body">
    <p><input type="text" class="form-control" placeholder="<%= t('messages.subject') %>"></p>
    <p><textarea class="form-control message-contents" placeholder="<%= t('messages.message') %>"></textarea></p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default"><%= t('util.close') %></a>
    <input type="submit" class="btn btn-success" value="<%= t('messages.send') %>"></a>
  </div>
</div>
