<div class="uprofile">
  <div class="ui blue segment">
    <div class="ui celled grid">
      <div class="two wide column">
        <%= image_tag @user.avatar.url("large"), class: 'ui small circular image' %>
      </div>
      <div class="six wide column">
        <h2 class="ui header">
          <%= @user.full_name %>
          <div class="sub header">
            <%= format_roles(@user.roles, ", ") %>
          </div>
        </h2>
      </div>
      <div class="three wide column">
        <% if @user != current_user
        <div class="ui buttons">
          <%= render partial: "conversations/new_conversation_button", locals: {receiver_ids: [@user.id]} %>
          <%= render partial: "contacts/contact_button", locals: {user_id: @user.id} %>
        </div>
      </div>
    </div>
    <div class="break-words c-user-info-block">
      <dl class="dl-horizontal">
        <dt class="ui purple ribbon label">
          <%= t('activerecord.attributes.user.login') %>
        </dt>
        <p><%= @user.login %></p>
        <dt class="ui purple ribbon label">
          <%= t('activerecord.attributes.user.email') %>
        </dt>
        <p><%= @user.email %></p>
        <dt class="ui purple ribbon label">
          <%= t('activerecord.attributes.user.position') %>
        </dt>
        <p><%= @user.position.present? ? @user.position : t('util.not_specified') %></p>
      </dl>
    </div>
    <div class="pull-left break-words">
      <dl class="dl-horizontal">
        <dt class="ui purple ribbon label">
          <%= t('activerecord.attributes.user.about_me') %>
        </dt>
        <p><%= @user.about_me.present? ? @user.about_me : t('util.not_specified') %></p>
      </dl>
    </div>
  </div>
</div>