<div class="panel panel-primary panel-narrow">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('users.user_info') %></h3>
  </div>
  <div class="panel-body">
    <div class="thumbnail pull-left">
      <%= image_tag @user.avatar.url("large"), class: 'c-user-large-avatar' %>
    </div>
    <div class="pull-left">
      <% if @user.full_name.present? %>
        <h3 class="text-center"><%=  @user.full_name %></h3>
      <% end %>
      <dl class="dl-horizontal">
        <dt><%=  t('activerecord.attributes.user.full_name') %></dt>
        <dd><%=  @user.full_name %></dd>
        <dt><%= t('activerecord.attributes.user.email')  %></dt>
        <dd><%=  @user.email %></dd>
        <dt><%= t('activerecord.attributes.user.position')  %></dt>
        <dd><%=  @user.position %></dd>
      </dl>
    </div>
  </div>
</div>
