<div class="ui modal confirm_doctype_removal">
  <div class="header">
    <%= t('doctypes.removing') %>
  </div>
  <div class="content">
    <p><%= t('users.removing_message') %></p>
  </div>
  <div class="actions">
    <button class="ui negative button" data-dismiss="modal"><%= t('util.cancel') %></button>
    <%= link_to t('util.destroy'), '', :method => :delete, :id   => 'doctype_remove_path', :class => "ui positive button" %>
  </div>
</div>

<%= render 'new' %>
<div class="ui attached segment">
  <div class="ui grid">
    <% @doctypes.each do |doctype| %>
      <div class="four wide column">
        <div class="ui segment">
          <span class="ui center aligned tiny header doctype_edit" data-type="text" data-url="/admin/doctypes/<%=doctype.id%>" data-name="title" data-pk=<%= doctype.id %> >
            <%= doctype.title%>
          </span>
          <%= link_to '',:id => 'remove_doctype', :data => { :path => admin_doctype_path(doctype), :toggle => 'modal', :target => 'confirm_doctype_removal' }, :class => "ui mini negative right floated icon button" do %>
            <i class="remove icon"></i>
          <% end %>
        </div>  
      </div>
    <% end %>
  </div>
</div>
<div class="ui basic segment">
  <%= paginate @doctypes %>
</div>