<%= form_tag events_path, :method => 'get', remote: true, id: 'extendSearch', class: 'ui fluid form segment' do %>
  <%= hidden_field_tag :search, "true" %>
  <div class="four fields">
    <div class="field">
      <%= t('events.author') %>:
      <%= select_tag :author, options_for_select(
        [[t('util.I'), current_user.id],
        [t('util.not_I'), events_not_authored_by_me]].concat(all_authors_of_my_events)),
        { class: "ui fluid search dropdown", multiple: true } %>
    </div>
    <div class="field">
      <%= t('events.guests') %>:
      <%= select_tag :invited, options_for_select(
        [[t('util.I'), current_user.id],
        [t('util.not_I'), events_not_visited_by_me]].concat(all_visitors)),
        { class: "ui fluid search dropdown", multiple: true } %>
    </div>
    <div class="field">
      <%= t('events.name') %>:
      <%= text_field_tag :name, nil %>
    </div>
    <div class="field">
      <%= t('events.place') %>:
      <%= text_field_tag :place, nil %>
    </div>
  </div>
  <div class="four fields">
    <div class="field">
      <%= t('events.hosted_from') %>:
      <%= text_field_tag :event_start_date, nil, id: "startDate" %>
    </div>
    <div class="field">
      <%= t('events.hosted_to') %>:
      <%= text_field_tag :event_end_date, nil, id: "endDate" %>
    </div>
    <div class="field">
      <%= t('tasks.created_from') %>:
      <%= text_field_tag :creation_start_date, nil, id: "creationStartDate" %>
    </div>
    <div class="field">
      <%= t('tasks.created_from') %>:
      <%= text_field_tag :creation_end_date, nil, id: "creationEndDate" %>
    </div>
  </div>
  <div id="searchBtn" class="ui blue labeled icon submit button">
    <i class="search icon"></i>
    <%= t('util.search') %>
  </div>
<% end %>