<%= form_for(event, :html => { :class => "form-horizontal", role: "form" }) do |f| %>
  <div class="panel-body">
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('activerecord.errors.template.header', count: event.errors.count) %></h2>
        <ul>
        <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label t('events.name'), :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, :placeholder => t('events.name') + '...', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('events.description'), :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_area :description, :placeholder => t('events.description') + '...', :class => 'form-control no-resize' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('events.date'), :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.text_field :date, :placeholder => t('events.date') + '...', :class => 'form-control date', id: 'eventDate' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('events.place'), :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.text_field :place, :placeholder => t('events.place') + '...', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('events.plan'), :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.text_area :plan, :placeholder => t('events.plan') + '...', :class => 'form-control no-resize' %>
      </div>
    </div>

    <div class='form-group'>
      <%= f.label t('events.guests'), :class=>'col-sm-4 control-label' %>
      <div class='col-sm-8'>
        <%= select_tag :guests, options_for_select(User.all.map { |u| [u.full_name, u.id] }, event.guests.pluck(:id)), { class: "chosen-select", multiple: true, include_blank: true } %>
      </div>
    </div>
  </div>

  <div class="panel-footer text-right">
    <%= link_to t('util.back'), :back, :class => "btn btn-default" %>
    <%= f.submit val, :class => "btn btn-success" %>
  </div>
<% end %>
