<%= form_for(event, :html => { :class => "ui error green form segment", role: "form" }) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', count: event.errors.count) %></h2>
      <ul>
      <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="ui header">
    <%= header %>
  </h2>

  <div class="field">
    <%= f.label t('events.name') %>
    <%= f.text_field :name, :placeholder => t('events.name') + '...' %>
  </div>

  <div class="field">
    <%= f.label t('events.description') %>
    <%= f.text_area :description, :placeholder => t('events.description') + '...', :class => 'no-resize' %>
  </div>

  <div class="field">
    <%= f.label t('events.date') %>
    <%= f.text_field :date, :placeholder => t('events.date') + '...', :class => 'date', id: 'eventDate' %>
  </div>

  <div class="field">
    <%= f.label t('events.place') %>
    <%= f.text_field :place, :placeholder => t('events.place') + '...', :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label t('events.plan') %>
    <%= f.text_area :plan, :placeholder => t('events.plan') + '...', :class => 'form-control no-resize' %>
  </div>

  <div class='field'>
    <%= f.label t('events.guests') %>
    <%= select_tag :guests, options_for_select(User.all.map { |u| [u.full_name, u.id] }, event.guests.pluck(:id)), { class: "chosen-select", multiple: true, include_blank: true } %>
  </div>

  <div class="inline-field ui buttons">
    <%= link_to t('util.back'), :back, :class => "ui button" %>
    <div class="or"></div>
    <%= f.submit val, :class => "ui positive submit button" %>
  </div>
<% end %>
