<tbody>
  <% events.each do |event| %>
    <tr data-link=<%= event_path(event.id) %>>
      <td class="col-sm-1">
        <%= link_to image_tag((author = event.author).avatar.url("small"), class: 'img-thumbnail c-user-small-avatar',
            title: author.full_name), user_path(author.id) %>
      </td>
      <td class="col-12-percent break-words">
        <%= (name = event.name).length > 40 ? name[0..40] << "..." : name %>
      </td>
      <td class="col-sm-2">
        <% if event.date.present? %>
          <%= l(event.date, format: :short) %>
        <% else %>
          <%= t('util.undefined') %>
        <% end %>
      </td>
      <td class="col-sm-2">
        <% if event.place.present? %>
          <%= event.place %>
        <% else %>
          <%= t('util.undefined') %>
        <% end %>
      </td>
      <td class="col-12-percent">
        <% if event.plan.present? %>
          <%= event.plan %>
        <% else %>
          <%= t('util.undefined') %>
        <% end %>
      </td>
      <td class="col-sm-3">
        <% for guest in Array(event.guests) do %>
          <%= link_to image_tag(guest.avatar.url("small"), class: 'img-thumbnail c-user-small-avatar',
            title: guest.full_name), user_path(guest.id) %>
        <% end %>
      </td>
      <% if !@only_guest %>
        <td>
          <div class="ui icon buttons">
            <% if event.author == current_user %>
              <%= link_to edit_event_path(event), :class => "ui button", title: I18n.t('util.edit') do %>
                <i class='icon edit'></i>
              <% end %>
              <%= link_to event_path(event), method: :delete, class: "ui button", title: I18n.t('util.destroy') do %>
                <i class='icon remove'></i>
              <% end %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
<tfoot>
  <tr>
    <th colspan="7">
      <%= link_to new_event_path, class: "ui green labeled icon button" do %>
        <i class='tasks icon'></i><%= t('util.add_new_event') %>
      <% end %>
    </th>
  </tr>
</tfoot>
