<div id="eventCard" class="ui two column grid event">
  <div class="column">
    <div class="ui blue segment">
      <% if @event.name.present? %>
        <h2 class="ui header"><%= @event.name %></h2>
      <% end %>
      <% if @event.description.present? %>
        <dt class="ui purple ribbon label"><%= t('events.description') %></dt>
        <p><%= @event.description %></p>
      <% end %>
      <% if @event.date.present? %>
        <dt class="ui purple ribbon label"><%= t('events.date') %></dt>
        <p><%= l(@event.date, format: :short) %></p>
      <% end %>
      <% if @event.place.present? %>
        <dt class="ui purple ribbon label"><%= t('events.place') %></dt>
        <p><%= @event.place %></p>
      <% end %>
      <% if @event.plan.present? %>
        <dt class="ui purple ribbon label"><%= t('events.plan') %></dt>
        <p><%= @event.plan %></p>
      <% end %>
      <% if @event.guests.any? %>
        <dt class="ui purple ribbon label"><%= t('events.guests') %></dt>
        <div class="ui mini images card-avatars">
          <% @event.guests.each do |guest| %>
            <%= link_to image_tag(guest.avatar.url("small"), class: 'ui image', 
              title: guest.full_name), user_path(guest.id) %>
          <% end %>
        </div>
      <% end %>
      <% if !can_all_visit?(@event) %>
        <dt class="ui purple ribbon label"><%= t('events.not_visiting') %></dt>
        <div id="cannotVisit" class="ui mini images card-avatars">
          <% all_not_visiting(@event).each do |guest| %>
            <%= link_to image_tag(guest.avatar.url("small"), class: 'ui avatar', 
                    title: guest.full_name, alt: guest.full_name), user_path(guest.id) %>
          <% end %>
        </div>
      <% end %>
      <% if engaged?(@event) and !author?(@event) %>
        <%= button_tag visit?(@event) ? t('events.cannot_visit') : t('events.can_visit'), id: 'canVisit', :class => "ui toggle red button hover", data: { event: @event.id, visit: !visit?(@event), url: event_path(@event, format: :js) } %>
      <% end %>  
      <div class="ui <%= 'right floated' if @event.author != current_user %> buttons">
        <%= link_to t('util.back'), events_path, :class => "ui button" %>
        <% if @event.author == current_user %>
          <div class="or"></div>
          <%= link_to edit_event_path(@event), :class => "ui positive button" do %>
            <span class=' glyphicon-pencil'></span>
            <%= t('util.edit') %>
          <% end %>
        <% end %>  
      </div>
    </div>
  </div>
  <div class='column'>
    <%= comments_for @event %>
  </div>
</div>