<% if current_user.contacts.exists?(id: user_id) %>
  <%= form_tag contact_path(user_id), method: :delete do |f| %>
    <button class="ui negative right labeled icon button">
      <%= t('contacts.remove') %>
      <i class="user remove icon"></i>
    </button>
  <% end %>
<% else %>
  <%= form_tag contacts_path, method: :post do |f| %>
    <%= hidden_field_tag :id, user_id %>
    <button class="ui positive right labeled icon button">
      <%= t('contacts.add') %>
      <i class="user add icon"></i>
    </button>
  <% end %>
<% end %>
