<div class="ui blue segment">
  <strong class='ui basic segment'>
    <%= t('contacts.count', count: current_user.contacts.size ) %>
  </strong>
  <div class="ui basic cards segment">
    <% @contacts.each do |user| %>
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="<%=user.avatar.url("small")%>">
          <div class="header">
            <a href="<%=user_path(user)%>"><%= user.full_name %></a>
          </div>
          <div class="meta">
            <%= user.position %>
          </div>
          <div class="description">
            <%= user.about_me.truncate(33) %>
          </div>
        </div>
        <div class="center aligned extra content">
          <div class="ui tiny buttons">
            <%= render partial: "conversations/new_conversation_button", locals: {receiver_ids: [user.id]} %>
            <%= render partial: "contacts/contact_button", locals: {user_id: user.id} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="ui basic segment">
    <%= paginate @contacts %>
  </div>
</div>
