<div class="ui top attached inverted segment">
  <%= t('contacts.list') %>
</div>

<div class="ui attached segment">
    <strong>
      <%= t('contacts.count', count: current_user.contacts.size ) %>
    </strong>
    <div class="ui divider"></div>
    <div class="ui divided list">
      <% @contacts.each do |user| %>
        <div class="item">
          <div class="ui right floated vertical buttons">
            <%= render partial: "conversations/new_conversation_button", locals: {receiver_ids: [user.id]} %>
            <%= render partial: "contacts/contact_button", locals: {user_id: user.id} %>
          </div>
          <a href="<%=user_path(user)%>" class="ui small image">
            <img src="<%=user.avatar.url("medium")%>">
          </a>
          
          <div class="content">
            <div class="header"> <%= user.full_name %></div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @contacts %>
</div>
