<% file_info = file.file_info %>
<% can_edit = file.edit_accesses.pluck(:user_id).include?(current_user.id) %>
<tr data-id="file" class="docs-title">
  <td><i class="<%= doc_format_icon(file) %>"></i></td>
  <td id="doc-title-<%= file.id %>"><%= file.title %></td>
  <td><%= file.document_types.pluck(:title).join ', ' %></td>
  <td><%= File.extname(file_info.file.path) if file_info %></td>
  <td><%= file.date_created.to_formatted_s :docs_time %></td>
  <td><%= file.date_updated.to_formatted_s :docs_time %></td>
  <td class='center aligned'>
    <%= link_to file_info ? file_info.file.url(:original, false) : '', target: :blank, class: 'ui tiny circular green icon button docs-navbar-tool docs-download' do %>
      <i class='download icon'></i>
    <% end %>
  </td>
</tr>

<!-- <div class="ui simple dimmer">

</div> -->