<tr data-id="folder" data-link="<%= @shared ? document_shared_path(folder.owner_id, folder.id) : document_path(folder) %>" class="docs-title">
  <td><i class="folder icon"></i></td>
  <td><%= folder.title %></td>
  <td></td>
  <td><%= t('documents.folder') %></td>
  <td><%= folder.date_created.to_formatted_s :docs_time %></td>
  <td><%= folder.date_updated.to_formatted_s :docs_time %></td>
  <td>&nbsp;</td>
</tr>