<tr data-toggle="collapse" data-target="#doc-info<%= folder.id %>" class="accordion-toggle docs-title">
  <td><span class="glyphicon glyphicon-folder-open"></span></td>
  <td><%= folder.title %></td>
  <td><%= %></td>
  <td><%= t('documents.folder') %></td>
  <td><%= folder.date_created.strftime "%m.%d.%y %H:%M" %></td>
  <td><%= folder.date_updated.strftime "%m.%d.%y %H:%M" %></td>
  <td>
    <%= link_to document_path(folder), :class => 'btn btn-success  docs-navbar-tool' do %>
        <span class='glyphicon glyphicon-eye-open'></span>
        <%= t('documents.open') %>
    <% end %>
  </td>
</tr>
<tr>
  <td colspan="7" class="hiddenRow">
    <div class="accordian-body collapse doc-info" id="doc-info<%= folder.id %>">
      <div class="docs-info-collapse">
          <%= link_to '', :id => 'btn_remove_document', :data => { :path => folder.parent_directory.nil? ? document_delete_root_path(folder) :
              document_delete_path(id: folder.parent_directory, delete_id: folder.id), :toggle => 'modal', :target => '#modal_confirm_remove_document' }, :class => "btn btn-danger" do %>
              <span class='glyphicon glyphicon-remove'></span>
              <%= t('documents.delete') %>
          <% end %>
      </div>
    </div>
  </td>
</tr>