<%= form_tag documents_path, :method => 'get' do %>
<div class="panel  panel-primary">
  <div class="panel-heading docs-panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseSearch">
        <%= t('documents.search_by_docs') %>
      </a>
    </h4>
  </div>
  <div id="collapseSearch" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="parameter-group">
        <table>
          <tr>
            <td>
             <label class="checkbox-inline">
               <%= check_box_tag 'a_folder', true, params[:a_folder] %>
               <%= h t("documents.folders") %>
              </label>
            </td>
            <td>
              <label class="checkbox-inline">
                <%= check_box_tag 'are_owned', true, params[:are_owned] %>
                <%= h t("documents.owned") %>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="checkbox-inline">
                <%= check_box_tag 'a_file', true, params[:a_file] %>
                <%= h t("documents.files") %>
              </label>
            </td>
            <td>
              <label class="checkbox-inline">
                <%= check_box_tag 'are_shared', true, params[:are_shared] %>
                <%= h t("documents.shared") %>
              </label>
            </td>
            <td>
              <label class="checkbox-inline">
                <%= check_box_tag 'new_shared', 1 %>
                <%= h t("documents.new_shared") %>
              </label>
            </td>
          </tr>
        </table>

        <div class="dates">
          <table>
            <tr>
              <td><%=t("documents.not_earlier")%></td>
              <td><input type="text" placeholder=<%=t("documents.yyyymmdd")%> class="form-control input-sm" name="after_date" value="<%= params[:after_date] %>" /></td>
            </tr>
            <tr>
              <td><%=t("documents.not_later")%></td>
              <td><input type="text" placeholder=<%=t("documents.yyyymmdd")%> class="form-control input-sm" name="before_date" value="<%= params[:before_date] %>" /></td>
            </tr>
          </table>
        </div>

        <div class="types">
          <%= t("documents.types") %>
          <div class="input-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span><%= t('util.all_of')+@types.first.title+"..." %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu j-admin-search-type-combo">
              <% @types.each do |type| %>
                <li>
                  <label class="checkbox-inline"  >
                    <%= check_box_tag 'type_ids[]', type.id -%>
                    <%= type.title -%>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>


        <div class="formats">
          <%= t("documents.formats") %>
          <div class="input-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span ><%= t('util.all_of')+(File.extname @formats.first.file_info.file.path)+"..." %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu j-admin-search-type-combo">
              <% @formats.each do |format| %>
                <li>
                  <label class="checkbox-inline">
                    <%= check_box_tag 'format_ids[]', (File.extname format.file_info.file.path) -%>
                    <%= File.extname format.file_info.file.path -%>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>


      </div>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="j-admin-search-btn-text"><%= t('documents.by_' +params[:search_by]) %></span>
            <span class="caret"></span>
          </button>
          <input class="j-admin-search-type-input" type="hidden" name="search_by" value="<%= params[:search_by] %>" />
          <ul class="dropdown-menu j-admin-search-type-combo">
            <li><a href="#" data-search-type="title"><%= t('documents.by_title') %></a></li>
            <li><a href="#" data-search-type="tags"><%= t('documents.by_tags') %></a></li>
            <li><a href="#" data-search-type="title tags"><%= t('documents.by_title tags') %></a></li>
            <li><a href="#" data-search-type="description"><%= t('documents.by_description') %></a></li>
          </ul>
        </div>
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            <%= t('util.search') %>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>