<section class="ui segment no-margins">
  <section class="ui divided stackable grid">
    <div class="four wide column">
      <div class="ui fluid vertical menu">
        <%= link_to documents_path, method: :get, remote: true, class: 'item' do %>
          <%= t('documents.yours') %>
          <div class="ui label"><%= current_user.documents.length %></div>
        <% end %>
        <%= link_to doc_shared_path, method: :get, remote: true, class: 'item' do %>
          <%= t('documents.shared') %>
          <div class="ui label">
            <%= (current_user.personal_shared_documents + current_user.role_shared_documents).uniq.length %>
          </div>
        <% end %>
        <a class="item">
          <%= t('documents.recently_used') %>
        </a>
        <a class="item">
          <%= t('documents.by_type') %>
        </a>
        <div class="item">
          <%= link_to '', class: "reduced item", id: 'addFolder' do %>
            <i class='folder icon'></i><%= t('documents.add_folder') %>
          <% end %>
        </div>
        <div class="item">
          <%= link_to '', class: "reduced item", id: 'addDocument' do %>
            <i class='file icon'></i><%= t('news.add_doc') %>
          <% end %>
        </div>
        <div class="item">
          <%= form_tag doc_search_path, :method => 'get', remote: true, class: 'ui basic form', id: "searchDocsForm" do %>
            <input type="hidden" name="current" value="<%= @current_folder.nil? ? nil : @current_folder.id %>">
            <div class="ui fluid search icon input field">
              <input name="query" placeholder="<%= t('documents.search_by_docs') %>..." type="search">
              <i class="search icon"></i>
            </div>
            <%= fields_for :extended_search do |es| %>
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  <%= t('util.extended_search') %>
                </div>
                <div class="content">
                  <div class="date field">
                    <%= es.label :dateUploaded, t('documents.date_created') %>
                    <%= es.text_field :dateUploaded %>
                  </div>
                  <div class="field">
                    <%= es.label :document_types, t('documents.type') %>
                    <%= es.select :document_types, options_for_select(DocumentType.all.map { |dt| [dt.title, dt.title] }, []), {}, {id: 'docTypes', class: "ui fluid search dropdown", multiple: true} %>
                  </div>
                </div>
              </div>
            <% end %>
            <input type="submit" style="display: none;">
          <% end %>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui no-margins breadcrumb">
        <%= link_to documents_path, :class => 'section' do %>
          <%= t('documents.all') %>
        <% end %>
        <% if !@current_folder.nil? %>
          <i class="right arrow icon divider"></i>
          <% path_from_root = @current_folder.path_from_root %>
          <% path_from_root.each do |folder| %>
            <% if folder != path_from_root.last %>
              <%= link_to folder.title, document_path(folder), :class => "section" %>
            <% else %>
              <div class="active section">
                <%= folder.title %>
              </div>
            <% end %>
            <% if folder != path_from_root.last %>
              <i class="right arrow icon divider"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="scrollable">
        <table id="docs" class="ui sortable table">
          <thead>
            <tr>
              <th class="doc-icon" style="width:40px;"></th>
              <th><%= t('documents.title') %></th>
              <th><%= t('documents.type') %></th>
              <th><%= t('documents.format') %></th>
              <th><%= t('documents.date_created') %></th>
              <th><%= t('documents.date_changed') %></th>
              <th class="doc-icon" style="width:55px;"></th>
            </tr>
          </thead>
          <tbody>
            <%= render(partial: 'doc', collection: @docs) || '<tr><td class="center aligned" colspan="7">'.html_safe << t('documents.absent') << '</td></tr>'.html_safe %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

<%= render partial: 'documents/modals/new_file' %>
<%= render partial: 'documents/modals/new_folder' %>