<section class="ui segment no-margins">
  <section class="ui divided grid">
    <div class="four wide column">
      <div class="ui fluid vertical menu">
        <a class="active item">
          <%= t('documents.yours') %>
          <div class="ui label">1</div>
        </a>
        <a class="item">
          <%= t('documents.recently_used') %>
          <div class="ui label">1</div>
        </a>
        <a class="item">
          <%= t('documents.shared') %>
          <div class="ui label">51</div>
        </a>
        <a class="item">
          <%= t('documents.by_type') %>
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui small icon input">
            <input placeholder="<%= t('documents.search_by_docs') %>..." type="text">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <% if !@current_folder.nil? %>
        <div class="ui no-margins breadcrumb">
          <%= link_to documents_path, :class => 'section' do %>
            <%= t('documents.all') %>
          <% end %>
          <i class="right arrow icon divider"></i>
          <% path_from_root = @current_folder.path_from_root %>
          <% path_from_root.each do |folder| %>
            <% if folder != path_from_root.last %>
              <%= link_to folder.title, document_path(folder), :class => "section" %>
            <% else %>
              <div class="active section">
                <%= folder.title %>
              </div>
            <% end %>
            <% if folder != path_from_root.last %>
              <i class="right arrow icon divider"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <table id="docs" class="ui sortable table segment">
        <thead>
          <tr>
            <th class="doc-icon"></th>
            <th><%= t('documents.title') %></th>
            <th><%= t('documents.type') %></th>
            <th><%= t('documents.format') %></th>
            <th><%= t('documents.date_created') %></th>
            <th><%= t('documents.date_changed') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'file', collection: @files %>
          <%= render partial: 'folder', collection: @folders %>
        </tbody>
        <tfoot>
          <th colspan="6">
            <%= link_to '', class: "ui tiny teal labeled icon button", id: 'addFolder' do %>
              <i class='folder icon'></i><%= t('documents.add_folder') %>
            <% end %>
            <%= link_to '', class: "ui tiny green labeled icon button", id: 'addDocument' do %>
              <i class='file icon'></i><%= t('news.add_doc') %>
            <% end %>
          </th>
        </tfoot>
      </table>
    </div>
  </section>
</section>

<%= render partial: 'documents/modals/new_file' %>
<%= render partial: 'documents/modals/new_folder' %>

<div class="panel-body text-center">
  <%= paginate @docs %>
</div>

<div id="docInfo" class="ui styled right overlay documents info sidebar"></div>