<div id="comment_<%= comment.id %>" class='comment'>
  <%= link_to image_tag((author = comment.owner).avatar.url("medium"), title: author.full_name), user_path(author.id), class: 'avatar' %>
  <div class='content'>
    <a class='author'><%= comment.owner.full_name %></a>
    <div class='metadata'>
      <%= timeago_tag comment.created_at, :nojs => true, :limit => 1.hours.ago,
        title: proc { |time, options| I18n.l time, :format => "%H:%M:%S" }, class: 'date' %>
    </div>
    <div class='text'><%= comment.body %></div>
    <div class="actions">
      <% if comment.owner == current_commenter %>
        <%= link_to t('util.destroy'), comment_path(comment), :method => :delete, :remote => true, class: 'delete' %>
      <% end %>
    </div>
  </div>
</div>
