<% if current_user %>
  <%= form_for Comment.new, :remote => true, html: { class: 'ui reply form' } do |f| %>
    <%= f.text_area :body, id: 'newComment', class: 'new-comment field', placeholder: t('comments.new_comment') << '...' %>
    <%= hidden_field_tag :commentable_id, commentable.id %>
    <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
    <%= submit_tag t('comments.send_comment'), class: 'ui fluid teal submit button' %>
  <% end %>
<% else %>
  <p>
    Must be logged in to comment.
  </p>
<% end %>
