#docUploadChoice.ui.basic.modal.transition
  %i.close.icon
  .header
    = t('documents.uploading')
  #content.content
    .left
      %i.cloud.upload.icon
    .right
      %p= t('documents.upload_from')
  = form_for :document, method: :post, remote: true, html: { class: 'ui fluid form', id: 'taskDoc' } do |f|
    = f.text_field :title, id: 'title', class: 'hidden'
    = f.text_field :description, id: 'description', class: 'hidden'
    = file_field :document, :original_file, class: 'hidden', id: 'docFromPCInput'
    .two.fluid.ui.buttons
      #pinDocFromWarehouse.ui.positive.button
        = t('documents.from_warehouse')
      .or
      #pinDocFromPC.ui.teal.button
        = t('documents.from_pc')