<%= form_for([:admin, @group], :html => { :class => "ui error blue form segment", role: "form" }) do |f| %>
  <h2 class="ui header"><%= title %></h2>

  <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('activerecord.errors.template.header', count: @group.errors.count) %></h2>
        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, :class=>'col-sm-4 control-label' %>
          <%= f.text_field :name, :placeholder => t('activerecord.attributes.group.name') + '...', :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :start_year, :class=>'col-sm-4 control-label' %>
          <%= f.text_field :start_year, :placeholder => t('activerecord.attributes.group.start_year') + '...', :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :graduation_year, :class=>'col-sm-4 control-label' %>
          <%= f.text_field :graduation_year, :placeholder => t('activerecord.attributes.group.graduation_year') + '...', :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :speciality, :class=>'col-sm-4 control-label' %>
          <%= f.text_field :speciality, :placeholder => t('activerecord.attributes.group.speciality') + '...', :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :speciality_code, :class=>'col-sm-4 control-label' %>
          <%= f.text_field :speciality_code, :placeholder => t('activerecord.attributes.group.speciality_code') + '...', :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :form_of_learning, :class=>'col-sm-4 control-label' %>
          <%= f.select :full_time, options_for_select(translate_forms(Group::FORMS), @group.forms), {include_blank: true}, { :class => "chosen-select", :multiple => false } %>
    </div>
    <div class="field">
      <%= f.label :degree, :class=>'col-sm-4 control-label' %>
          <%= f.select :degree, options_for_select(translate_degree(Group::DEGREE), @group.degrees), {include_blank: true}, { :class => "chosen-select", :multiple => false } %>
    </div>
    <div class="inline-field ui buttons">
      <%= link_to t('util.back'), admin_groups_path, :class => "ui button" %>
      <div class="or"></div>
      <%= create_button(@group, f) %>
    </div>
<% end %>
