<%= form_for([:admin, @group], :html => { :class => "ui error blue form segment", role: "form" }) do |f| %>
  <h2 class="ui header"><%= title %></h2>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', count: @group.errors.count) %></h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class=>'col-sm-4 control-label' %>
        <%= f.text_field :name, :placeholder => t('activerecord.attributes.group.name') + '...', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :start_year, :class=>'col-sm-4 control-label' %>
        <%= f.text_field :start_year, :placeholder => t('activerecord.attributes.group.start_year') + '...', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :graduation_year, :class=>'col-sm-4 control-label' %>
        <%= f.text_field :graduation_year, :placeholder => t('activerecord.attributes.group.graduation_year') + '...', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :speciality, :class=>'col-sm-4 control-label' %>
        <%= f.text_field :speciality, :placeholder => t('activerecord.attributes.group.speciality') + '...', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :speciality_code, :class=>'col-sm-4 control-label' %>
        <%= f.text_field :speciality_code, :placeholder => t('activerecord.attributes.group.speciality_code') + '...', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :form_of_learning %>
    <div class="ui fluid selection dropdown">
      <%= f.hidden_field :full_time, value: @group.full_time ? 1 : 0 %>
      <div class="default text"></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <% translate_forms(Group::FORMS).each do |form, value| %>
          <div class="item" data-value="<%= value %>">
            <%= form %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :degree %>
    <div class="ui fluid selection dropdown">
      <%= f.hidden_field :degree %>
      <div class="default text"></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <% translate_degree(Group::DEGREE).each do |degree, value| %>
          <div class="item" data-value="<%= value %>">
            <%= degree %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="inline-field ui buttons">
    <%= link_to t('util.back'), admin_groups_path, :class => "ui button" %>
    <div class="or"></div>
    <%= f.submit t('groups.create'), :class => "ui positive button" %>
    <% #= create_button(@group, f) %>
  </div>
<% end %>
