<div class="ui basic modal">
  <div class="header">
      <%= t('groups.removing_title') %>
    </div>
  <div class="content">
    <div class="left">
      <i class="trash icon"></i>
    </div>
    <div class="right">
      <p><%= t('groups.removing_message') %></p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui buttons">
      <div class="ui negative labeled icon button">
        <i class="remove icon"></i>
        <%= t('util.cancel') %>
      </div>
      <div class="ui positive right labeled icon button">
 <!--      <%= link_to t('util.destroy'), '', :method => :delete, :id => 'group_remove_path', :class => "ui positive right labeled icon button" %> -->
 <%= t('util.destroy')%>
     <i class="checkmark icon"></i>
     </div>
    </div>
  </div>
</div>


<table class="ui table padded blue segment table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.group.name') %></th>
      <th><%= t('activerecord.attributes.group.degree') %></th>
      <th><%= t('activerecord.attributes.group.speciality') %></th>
      <th><%= t('activerecord.attributes.group.start_year') %></th>
      <th><%= t('activerecord.attributes.group.form_of_learning') %></th>
      <th class="c-admin-users-actions-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
          <% if group.degree == 1 %>
            <%= t('degree.bachelor') %>
          <% elsif group.degree == 2 %>
            <%= t('degree.specialist') %>
          <% else %>
            <%= t('degree.master') %>
          <% end %>
        </td>
        <td><%= group.speciality %></td>
        <td><%= group.start_year %></td>
        <td>
          <% if group.full_time %>
            <%= t('activerecord.attributes.group.intramural') %>
          <% else %>
            <%= t('activerecord.attributes.group.extramural') %>
          <% end %>
        </td>
        <td>
          <div class="ui buttons">
            <%= link_to edit_admin_group_path(group), :class => "ui icon button" do %>
                <i class='pencil icon'></i>
            <% end %>
            <%= link_to admin_group_path(group), :id => 'btn_remove_group', :data => { :path => admin_group_path(group), :toggle => 'modal', :target => '#modal_confirm_remove_group',:method => 'delete'}, :class => "ui icon button" do %>
                <i class='remove icon'></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6">
        <%= link_to new_admin_group_path, :class => "ui labeled icon green button" do %>
          <i class="plus icon"></i>
          <%= t('util.new_group') %>
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>

<div class="panel-body text-center">
  <%= paginate @groups %>
</div>
