<div id="modal_confirm_remove_group" class="modal fade bs-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('groups.removing_title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('users.removing_message') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('util.cancel') %></button>
        <%= link_to t('util.destroy'), '', :method => :delete, :id => 'group_remove_path', :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t('util.group_list') %>
  </div>
    <table class="table table-striped table-verticle-centered">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.group.name') %></th>
          <th><%= t('activerecord.attributes.group.degree') %></th>
          <th><%= t('activerecord.attributes.group.speciality') %></th>
          <th><%= t('activerecord.attributes.group.start_year') %></th>
          <th><%= t('activerecord.attributes.group.form_of_learning') %></th>
          <th class="c-admin-users-actions-column"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td>
              <% if group.degree == 1 %>            
                <%= t('degree.bachelor') %>
              <% elsif group.degree == 2 %>
                <%= t('degree.specialist') %>
              <% else %>
                <%= t('degree.master') %>
              <% end %>
            </td>
            <td><%= group.speciality %></td>
            <td><%= group.start_year %></td>
            <td>
              <% if group.full_time %>
                <%= t('activerecord.attributes.group.intramural') %>
              <% else %>
                <%= t('activerecord.attributes.group.extramural') %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_group_path(group), :class => "btn btn-info btn-xs" do %>
                  <span class='glyphicon glyphicon-zoom-in'></span>
              <% end %>
              <%= link_to edit_admin_group_path(group), :class => "btn btn-warning btn-xs" do %>
                  <span class='glyphicon glyphicon-pencil'></span>
              <% end %>
              <%= link_to '', :id => 'btn_remove_group', :data => { :path => admin_group_path(group), :toggle => 'modal', :target => '#modal_confirm_remove_group' }, :class => "btn btn-danger btn-xs" do %>
                  <span class='glyphicon glyphicon-remove'></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-body text-center">
      <%= paginate @groups %>
    </div>
    <div class="panel-footer text-center">
    <%= link_to new_admin_group_path, :class => "btn btn-success" do %>
          <span class='glyphicon glyphicon-plus'></span>
          <%= t('util.new_group') %>
    <% end %>
  </div>
</div>