<div class="row-fluid">
  <div class="span4 well">
    <%= form_for([:admin, @user], :html => { :class => "form-horizontal", role: "form" }) do |f| %>
      <fieldset>
          <legend><%= t('users.fill_fields') %></legend>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= t('activerecord.errors.template.header', count: @user.errors.count) %></h2>

              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :login, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.text_field :login, :placeholder => t('activerecord.attributes.user.login') + '...', :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.password_field :password, :placeholder => t('activerecord.attributes.user.password') + '...', :class => 'form-control' %>
                <% if params[:action] == "edit" %>
                  <i>(<%= t('util.edit_password') %>)</i>
                <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.password_field :password_confirmation, :placeholder => t('activerecord.attributes.user.password_confirmation') + '...', :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :role, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.select :role, get_roles_collection, {}, { :class => 'roles_combo' } %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :full_name, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.text_field :full_name, :placeholder => t('activerecord.attributes.user.full_name') + '...', :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, :class=>'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.text_field :email, :placeholder => t('activerecord.attributes.user.email') + '...', :class => 'form-control' %>
            </div>
          </div>

          <br>
          <div class="form-group">
          <p class="col-sm-4"></p>
          <div class="actions col-sm-8">
            <%= f.submit :class => "btn btn-primary form-control" %>
          </div>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>
