<%= form_for([:admin, @user], :html => { :class => "form-horizontal", role: "form" }) do |f| %>
  <div class="panel-body">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('activerecord.errors.template.header', count: @user.errors.count) %></h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :login, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.text_field :login, :placeholder => t('activerecord.attributes.user.login') + '...', :class => 'form-control' %>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.password_field :password, :placeholder => t('activerecord.attributes.user.password') + '...', :class => 'form-control' %>
          <% if params[:action] == "edit" %>
            <i>(<%= t('util.edit_password') %>)</i>
          <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.password_field :password_confirmation, :placeholder => t('activerecord.attributes.user.password_confirmation') + '...', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :role, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
        <%= f.select :role, options_for_select(translate_roles(User::ROLES), @user.roles), {include_blank: true}, { :class => "chosen-select", :multiple => true } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :full_name, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.text_field :full_name, :placeholder => t('activerecord.attributes.user.full_name') + '...', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.text_field :email, :placeholder => t('activerecord.attributes.user.email') + '...', :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :avatar, :class=>'col-sm-4 control-label' %>
      <div class="col-sm-8">
          <%= f.file_field :avatar %>
          </br>
          <%= image_tag @user.avatar.url("medium"), class: 'c-user-medium-avatar' %>
          <% unless @user.new_record? %>
          <%= link_to t('util.destroy'), delete_avatar_admin_user_path(@user), :method => :delete, :class => "btn btn-danger" %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="panel-footer text-right">
    <%= link_to t('util.back'), admin_users_path, :class => "btn btn-default" %>
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
