<%= form_tag admin_users_path, :method => 'get' do %>
  <label class="checkbox-inline">
    <input type="checkbox" <%= 'checked' if(params[:search_admins].nil? || params[:search_admins] === 'on') %> name="search_admins"><%= t('roles.plural.admins') %>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" <%= 'checked' if(params[:search_students].nil? || params[:search_students] === 'on') %> name="search_students"><%= t('roles.plural.students') %>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" <%= 'checked' if(params[:search_teachers].nil? || params[:search_teachers] === 'on') %> name="search_teachers"><%= t('roles.plural.teachers') %>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" <%= 'checked' if(params[:search_workers].nil? || params[:search_workers] === 'on') %> name="search_workers"><%= t('roles.plural.workers') %>
  </label>

<br><br>

  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="j-admin-search-btn-text"><%= t('activerecord.attributes.user.' + params[:search_by]) %></span>
        <span class="caret"></span>
      </button>
      <input class="j-admin-search-type-input" type="hidden" name="search_by" value="<%= params[:search_by] %>" />
      <ul class="dropdown-menu j-admin-search-type-combo">
        <li><a href="#" data-search-type="login"><%= t('activerecord.attributes.user.login') %></a></li>
        <li><a href="#" data-search-type="email"><%= t('activerecord.attributes.user.email') %></a></li>
        <li><a href="#" data-search-type="full_name"><%= t('activerecord.attributes.user.full_name') %></a></li>
        <li><a href="#" data-search-type="position"><%= t('activerecord.attributes.user.position') %></a></li>
      </ul>
    </div>
    <input type="text" class="form-control" name="q" value="<%= params[:q] %>" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        <%= t('util.search') %>
      </button>
    </span>
  </div>
<% end %>
