<div id="modal_confirm_remove_user" class="modal fade bs-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('users.removing_title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('users.removing_message') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('util.cancel') %></button>
        <%= link_to t('util.destroy'), '', :method => :delete, :id => 'user_remove_path', :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t('util.user_list') %>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-2 "><%= t('activerecord.attributes.user.login') %></th>
          <th class="col-sm-2 "><%= t('activerecord.attributes.user.role') %></th>
          <th class="col-sm-4"><%= t('activerecord.attributes.user.full_name') %></th>
          <th class="col-sm-4"><%= t('activerecord.attributes.user.email') %></th>
          <th class="col-sm-1"></th>
          <th class="col-sm-1"></th>
          <th class="col-sm-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.login %></td>
            <td><%= user.role %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to admin_user_path(user), :class => "btn btn-info btn-xs" do %>
                  <span class='glyphicon glyphicon-zoom-in'></span>
              <% end %>
            </td>
            <td><%= link_to edit_admin_user_path(user), :class => "btn btn-warning btn-xs" do %>
                  <span class='glyphicon glyphicon-pencil'></span>
              <% end %>
            </td>
            <td><%= link_to '', :id => 'btn_remove_user', :data => { :path => admin_user_path(user), :toggle => 'modal', :target => '#modal_confirm_remove_user' }, :class => "btn btn-danger btn-xs" do %>
                  <span class='glyphicon glyphicon-remove'></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="panel-body text-center">
    <%= paginate @users %>
  </div>
  <div class="panel-footer text-center">
    <%= link_to new_admin_user_path, :class => "btn btn-success" do %>
          <span class='glyphicon glyphicon-plus'></span>
          <%= t('util.new_user') %>
    <% end %>
  </div>
</div>
