<div class="form-std">
    <h1><%= t('users.user_info') %></h1>

    <div class="panel panel-default">
        <table class="table table-striped">
        <tbody>
            <tr>
              <td><b><%=  t('activerecord.attributes.user.login') %></b></td>
              <td><%=  @user.login %></td>
            </tr>
            <tr>
              <td><b><%=  t('activerecord.attributes.user.role') %></b></td>
              <td><%=  get_role_name @user.role %></td>
            </tr>
            <tr>
              <td><b><%=  t('activerecord.attributes.user.email') %></b></td>
              <td><%=  @user.full_name %></td>
            </tr>
            <tr>
              <td><b><%=  t('activerecord.attributes.user.full_name') %></b></td>
              <td><%=  @user.email %></td>
            </tr>
        </tbody>
        </table>
    </div>

    <%= link_to edit_admin_user_path(@user), :class => "btn btn-warning" do %>
        <span class='glyphicon glyphicon-pencil'></span>
        <%= t('util.edit') %>
    <% end %>
     <%= link_to t('util.back'), admin_users_path, :class => "btn btn-primary" %>
</div>
