<p>
  <strong><%= t('activerecord.attributes.user.login') %></strong>
  <%= @user.login %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.role') %></strong>
  <%= @user.role %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.email') %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.full_name') %>:</strong>
  <%= @user.full_name %>
</p>

<%= link_to t('util.edit'), edit_admin_user_path(@user) %> |
<%= link_to t('util.back'), admin_users_path %>
