<% content_for :page_title do %>
  <%= t('views.main_title') %>
<% end %>

<% content_for :navbar do %>
  <% if user_signed_in? %>
    <%= link_to conversations_path, class: "item" do %>
      <%= t('conversations.dialogs') %>
      <% if (umc = current_user.unread_messages_count_sum) != 0 %>
        <span class="badge"><%= umc %></span>
      <% end %>
    <% end %>
    <%= link_to t('documents.documents'), documents_path, class: "item" %>
    <%= link_to t('news.title'), news_posts_path, class: "item" %>
    <%= link_to t('contacts.nav_link'), contacts_path, class: "item" %>
    <% if can? :crud, Task %>
      <%= link_to t('activerecord.models.tasks'), tasks_path, class: "item" %>
    <% end %>
    <%= link_to t('activerecord.models.events'), events_path, class: "item" %>
  <% end %>
  <% if can? :manage, @users %>
    <%= link_to t('admin_panel'), admin_users_path, class: "item" %>
  <% end %>
  <!-- <%= button_tag '', class: 'no-styling-btn activity-icon navbar-right', data: { container: 'body', toggle: 'popover', placement: 'bottom', content: "#{render 'application/panel_activity'}" } do %> -->
    <!-- <span class='glyphicon glyphicon-th-list'></span> -->
  <!-- <% end %> -->
<% end %>

<%= render template: "layouts/base" %>
