<% content_for :page_title do %>
  <%= t('views.main_title') %>
<% end %>

<% content_for :navbar do %>
  <% if user_signed_in? %>
    <li><%= link_to t('users.my_page'), current_user_users_path %></li>
    <li>
      <%= link_to conversations_path do %>
        <%= t('conversations.dialogs') %>
        <% if (umc = current_user.unread_messages_count_sum) != 0 %>
          <span class="badge"><%= umc %></span>
        <% end %>
      <% end %>
    </li>
    <li><%= link_to t('documents.documents'), documents_path %></li>
    <li><%= link_to t('contacts.nav_link'), contacts_path %></li>
    <% if can? :crud, Task %>
      <li><%= link_to t('activerecord.models.tasks'), tasks_path %></li>
    <% end %>
  <% end %>
  <% if can? :manage, @users %>
    <li><%= link_to t('admin_panel'), admin_users_path %></li>
  <% end %>
<% end %>

<%= render template: "layouts/base" %>
