<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='docInfo' class="ui right sidebar vertical menu"></div>
    <div class="pusher">
      <%= render partial: "shared/header", flash: flash %>
      <div class="ui basic segment">
        <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript">
      window.I18n = <%= I18n.backend.send(:translations)[I18n.locale].to_json.html_safe %>
    </script>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag params[:controller] %>
    <% if current_user.present? %>
      <script type="text/javascript">
        window.dispatcher = new WebSocketRails(window.location.host + '/websocket');
        dispatcher.current_user = "<%= current_user.id %>"
      </script>
    <% end %>
    <%= content_for :javascript %>
    <%= timeago_script_tag %>
  </body>
</html>
